<mat-card>
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-list>
        <mat-list-item>1. Istirahat yang Cukup</mat-list-item>
        <mat-list-item>Istirahat yang cukup sangat beperan penting untuk kesehatan tubuh. 
            Karena jika tubuh disibukan dengan banyak aktivitas setiap harinya dan kurang beristirahat, 
            maka tubuh akan rentan terkena penyakit. Dengan istirahat yang cukup setiap harinya maka Anda sudah melakukan cara menjaga gaya hidup sehat dengan baik.  </mat-list-item>
        <mat-list-item>2. Memperhatikan Asupan Makanan</mat-list-item>
        <mat-list-item>Mengatur makanan apa saja yang akan dikonsumsi setiap harinya,
            contohnya berbagai macam zat gizi yang dibutuhkan oleh manusia adalah karbohidrat, protein, vitamin dan juga mineral. 
            Selain itu Anda juga harus menghindari makanan berlemak tinggi. Makanan berlemak dapat menyebabkan penimbunan kolesterol dalam pembuluh darah. 
            Hal ini bisa memicu berbagai macam penyakit kronis. </mat-list-item>
        <mat-list-item>3. Minum Air Putih</mat-list-item>
        <mat-list-item>Karena dengan meminum air putih, bisa mengeluarkan racun yang ada di dalam tubuh, 
            yang dikeluarkan melalui air seni. Tubuh sangat membutuhkan unsur cairan 
            karena banyaknya aktivitas setiap hari sehingga Anda sangat dianjurkan untuk minum minimal setidaknya 8 gelas per hari.</mat-list-item>
        <mat-list-item>4. Rajin Berolahraga</mat-list-item>
        <mat-list-item>Meluangkan waktu untuk berolahraga merupakan salah satu cara menjalani gaya hidup sehat.
            Berolahraga dapat mengeluarkan racun dalam tubuh, yang dikeluarkan melalui keringat.
            Karena olahraga membuat tubuh menjadi lebih fit dan bugar.</mat-list-item>
        <mat-list-item>5. Membiasakan Hidup Bersih</mat-list-item>
        <mat-list-item>Menjaga kebersihan termasuk cara hidup sehat. Selain untuk kenyamanan dan kesehatan, 
            kebersihan juga membuat suasana hati yang baik saat untuk kamu memulai beraktivitas.</mat-list-item>
        <mat-list-item>6. Meninggalkan Kebiasaan Buruk</mat-list-item>
        <mat-list-item>Meninggalkan kebiasaan buruk, seperti merokok dan meminum-minuman berakohol. 
            Karena merokok dan minum-minuman berakohol akan mengakibatkan organ-organ di dalam tubuh menjadi rusak.</mat-list-item>
       </mat-list>
</mat-card>

   
