<mat-card>
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-tab-group>
        <mat-tab label="Olahraga">  
            <p>Olahraga yang dapat dilakukan misalnya dengan lari selama 150 menit per minggu, 
                beralih menggunakan tangga dibandingkan lift, 
                atau rajin berjalan kaki karena berjalan kaki memiliki banyak manfaat. 
                Olahraga tidak hanya dapat membantu cara diet sehatmu, 
                tetapi juga bagus untuk kebugaran dan kesehatan tubuh, terutama organ jantung.</p>
        </mat-tab>
        <mat-tab label="Hindari Stress dan Kurang Tidur "> 
            <p>Cara diet sehat selanjutnya yang sebaiknya Anda coba adalah dengan menghindari 
                stres berlebih dan kurang tidur. 
                Dua hal itu dapat meningkatkan hormon stres dalam tubuh sehingga rasa lapar pun meningkat. 
                Artinya, keinginan untuk mengonsumsi makanan tidak dapat Anda hindari. 
                Cobalah untuk mengelola stres dengan baik. 
                Misalnya, lakukan hobi atau kegiatan yang bisa membuat tubuh dan pikiran rileks, 
                menulis jurnal, dan lain sebagainya. Mengatur waktu tidur menjadi lebih awal pun bisa Anda lakukan. </p>
        </mat-tab>
        <mat-tab label="Hindari Minuman Beralkohol"> 
            <p>Cara diet sehat lainnya yang bisa Anda lakukan adalah menghindari minuman beralkohol. 
                Pasalnya minuman ini cenderung memiliki kandungan kalori yang tinggi yang bisa membuat usaha Anda
                 untuk menurunkan berat badan jadi berantakan.
                 Alkohol juga membuat badan kita kehilangan mineral penting sehingga membuat tubuh kita mengalami dehidrasi. </p>
        </mat-tab>
        <mat-tab label="Perhatikan Asupan Nutrisi "> 
            <p>Cara diet sehat yang selanjutnya dengan memerhatikan asupan nutrisi untuk tubuh. 
                Tubuh setidaknya membutuhkan 5 porsi buah dan sayuran dalam sehari guna memenuhi nutrisi yang Anda butuhkan.
                Pilihlah buah-buahan yang cocok untuk diet, dan konsumsi secara rutin. 
                Anda cukup membagi porsinya ke dalam beberapa waktu. 
                Misalnya pada saat sarapan atau makan siang. 
                Anda juga bisa menjadikan buah dan sayur sebagai camilan di sore hari atau saat makan malam.</p>
        </mat-tab>
        <mat-tab label="Banyak Minum Air Putih">  
            <p>Cara diet sehat yang selanjutnya dengan memastikan tubuh untuk selalu terhidrasi oleh air putih. 
                Sudah bukan rahasia lagi bahwa air putih merupakan hal yang paling esensial untuk tubuh. 
                Memang kebutuhan air bagi setiap orang memang berbeda-beda. 
                Tetapi, dengan meminum air lebih banyak bisa mendukung diet alami penurun berat badan.
                Cobalah untuk meminum air paling tidak 2 liter sehari dengan membiasakan diri membawa botol minum. 
                Dengan begitu anda akan merasa kenyang lebih lama nantinya jika kebutuhan air dalam tubuh akan tercukupi.</p>
        </mat-tab>
        <mat-tab label="Kurangi Konsumsi Garam "> 
            <p>Cara diet sehat yang berikutnya dengan mengurangi konsumsi garam. 
                Mengurangi konsumsi garam merupakan salah satu cara diet sehat yang terkenal ampuh. 
                Alasannya adalah sodium yang berlebihan bisa membuat tubuh kesulitan untuk memproses metabolisme lemak.
                Cobalah untuk membiasakan diri untuk mengonsumsi sayur, ayam, ataupun telur tanpa tambahan garam. 
                Untuk tetap mendapatkan rasa gurih pada masakan, 
                Anda bisa menggunakan garam laut asli yang mengandung lebih sedikit sodium atau menambahkan cottage cheese ke dalam telur dadar. 
                Dengan mengurangi konsumsi garam, tekanan darah Anda juga ikut terkontrol.</p>
        </mat-tab>
      </mat-tab-group>     
</mat-card>
