<div *ngIf="loading" style="height: 300px;" class="uk-flex uk-flex-center uk-flex-middle">
    <mat-spinner></mat-spinner>
</div>
<mat-card  *ngIf="!loading">
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="uk-flex">
            <span class="uk-width-expand"></span>
            <button mat-flat-button color="primary" (click)='catatanDetail({},-1)'>Tambah Catatan</button>
        </div>
        <table class="uk-table uk-table-middle uk-table-divider">
            <thead>                
                <th>No</th>
                <th>Minggu</th>
                <th>Aktivitas</th>
                <th>Perkembangan</th>
                <th align="right"></th>
            </thead>
            <tbody>
                <tr *ngFor="let book of books; let idx=index">
                    <td>{{idx+1}}</td>
                    <td>{{book.week}}</td>
                    <td>{{book.activity}}</td>
                    <td>{{book.progress}}</td>
                    <td align="right">
                        <button mat-button color="primary" (click)="catatanDetail(book,idx)">Edit</button>
                        <button mat-button color="warn" (click)="deleteCatatan(book.id, idx)" [disabled]="loadingDelete[idx]">{{loadingDelete[idx] ? 'Menghapus..':'Delete'}}</button>
                    </td>
                </tr>
            </tbody> 
        </table>
    </mat-card-content>
</mat-card>
